<% include ../inc/header.ejs %>
<form method="POST" action="/login">
    <h2>Log in </h2>
    <label>Email/Identifiant</label>
    <input name="email" type="text" class="form-control" placeholder="Email/Identifiant" autofocus="true" />
    <label>Mot de passe</label>
    <input name="password" type="password" class="form-control" placeholder="Mot de passe" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    Avez vous un compte? <a href='/register'>Se connecter</a>
    </div>
</form>
<% include ../inc/footer.ejs %>