<% include ../inc/header.ejs %>
<div class="row d-flex flex-wrap">
    <div class="col-12">
        <h1>Enregistrement</h1>
        <small class="p-5">
            Pour créer un compte rien de plus simple,
            il te suffit d'insérer correctement tes informations dans ce formulaire ci-dessous.
        </small>
        <div class="col-sm-12 col-md-6 ">
            <div class="jumbotron">
                <span class="text-danger text-center"><%=errors%></span>
                <form class="login-form" method="POST" action="/register">
                    <label>Nom</label>
                    <input name="firstname" type="text" class="form-control" placeholder="Doe" autofocus="true" required>
                    <label>Prénom</label>
                    <input name="lastname" type="text" class="form-control" placeholder="John" autofocus="true" required>
                    <label>Âge</label>
                    <input name="age" type="text" class="form-control" placeholder="18" autofocus="true" required>
                    <label>Niveau d'études</label>
                    <select name="country" class="form-control" autofocus="true" required>
                        <option selected>Choisissez votre niveau d'études</option>
                        <option value="Sans diplôme">Sans diplôme</option>
                        <option value="Bac">Bac</option>
                    </select>
                    <label>Adresse</label>
                    <input name="address" type="text" class="form-control" placeholder="36 rue du bac" autofocus="true" required>
                    <label>Code postal</label>
                    <input name="zip" type="text" class="form-control" placeholder="85005" autofocus="true" required>
                    <label>Ville</label>
                    <input name="city" type="text" class="form-control" placeholder="Paris" autofocus="true" required>
                    <label>Pays</label>
                    <select name="country" class="form-control" autofocus="true" required>
                        <option selected>Choisissez votre pays</option>
                        <option value="France">France</option>
                        <option value="Autres">Autres</option>
                    </select>
                    <label>Numéro de sécurité social</label>
                    <input name="social_num" type="text" class="form-control" placeholder="1 900 258 745 862 18" autofocus="true" required>
                    <label>Identifiant</label>
                    <input name="username" type="text" class="form-control" placeholder="Luc010" autofocus="true"
                        required>
                    <label>Email</label>
                    <input name="email" type="text" class="form-control" placeholder="luc010@aol.com" autofocus="true"
                        required>
                    <label>Mot de passe</label>
                    <input name="password" type="password" class="form-control" placeholder="Entrez un mot de passe" required>
                    <label>Confirmation</label>
                    <input name="passwordConfirm" type="password" class="form-control" placeholder="Confirmez votre mot de passe"
                        required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../inc/footer.ejs %>